<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>WEATHER APP</title>
  </head>
  <body>
    <section class="wrapper">
      <form action="/meteo" method="get">
        <input type="text" name="city" placeholder="Entrez votre ville" />
        <button type="submit">Get Meteo</button>
      </form>

      <section class="graph">
        <% if (meteo) { %>
          <h1><%= city.toUpperCase() %></h1>
        <% } %>
      </section>

      <section class="clock">
        <% if (error) { %>
          <p><%= error %></p>
        <% } else if (meteo) { %>
          <figure class="flipper">
            <% if(meteo.weather[0].main === 'Clear') { %>
              <span class="icon">2</span>
            <% } else if (meteo.weather[0].main === 'Clouds') { %>
              <span class="icon">3</span>
            <% } else if (meteo.weather[0].main === 'Tornado') { %>
              <span class="icon">4</span>
            <% } else if (meteo.weather[0].main === 'Rain' || meteo.weather[0].main === 'Drizzle' ) { %>
              <span class="icon">5</span>
            <% } %>
          </figure>

          <figure class="flipper">
            <span><%= Math.floor(meteo.main.temp) %></span>
          </figure>
       
      </section>
      <div>
        <h2> humidity :<%= meteo.main.humidity %></h2>
        <h2> pressure :<%= meteo.main.pressure %></h2>
        <h2> wind <%=meteo.main.wind %></h2>
        <h2> Sunrise: <%=  new Date(meteo.sys.sunrise*1000).toLocaleTimeString() %> -
             Sunset: <%=  new Date(meteo.sys.sunset*1000).toLocaleTimeString() %></h2>
        <h2> country :<%= meteo.sys.country %></h2>
    </div>
    <% }  %>
    </section>
  </body>
</html>
